.adminedit{
  border: 2px solid blue;

}

.admin_btn{
    user-select: none;
    position: fixed;
    width:120px;
    text-align: center;
    color:white;
    z-index: 999999;
    border-radius: 10px;

    transform: translateY(-2px);
    /* text-shadow: 0 2px 4px white; */
    box-shadow: 0 2px 4px white;
}
.admin_btn:active{
  transform: translateY(0);
  /* text-shadow: 0 2px 4px white; */
  box-shadow: none;
}
.admin_btn .btn{
  cursor: pointer;
  padding:15px;
}
.admin_register{
  top:40px;
  left:20px;
  background: green;

}
.admin_logout{
  top:40px;
  right:50px;
  background: blue;
}

.admin_cancel{

  left:220px;
  top: 40px;
  background: red;
}

.admin_btn .dragable{
  cursor: move;
  width:30px;
  height: 30px;
  position: absolute;
  top: -30px;right:-30px;
  background: blue;
  border: solid 2px white;
}
